@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
}

nav {
    margin: 5px 0 5px 0;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

.wrap-welcomeMessage {
    /*background-color: lightblue;*/
}

.wrap-signBtn {
    /*background-color: aliceblue;*/
}

main {
    /*background-color: grey;*/
    border-top: 1px solid black;

}

.container-main {
    height: 100vh;
    /*background-color: burlywood;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-form {
    /*background-color: royalblue;*/
    text-align: center;

}

.box-form {
    /*background-color: lightyellow;*/
    display: flex;
    flex-direction: column;
    margin-top: 10px
}

.box-form > input {
    margin: 5px 0 5px 0;
}

.error-message-form {
    font-size: 0.7rem;
    color: crimson;
}